@model List<string>

<h5 class="mb-3">1. Adım: Bir Lokasyon Seçin</h5>
<div class="list-group">
    @foreach (var location in Model)
    {
        <button type="button" class="list-group-item list-group-item-action location-select-btn" data-location="@location">
            @location
        </button>
    }
</div>